<footer class="footer pt-3">
  <p class="text-center mb-1">
    <%= t("footer.powered_by", href: link_to(t("greenlight"), "https://meeton.pl", target: "_blank", rel: "noopener")).html_safe %> <%= Greenlight::Application::VERSION %>
      <span>
        |
        <%= link_to(t("footer.legal"), "https://pro.meeton.pl/terms") %>
      </span>
  </p>
</footer>

<%= render "shared/components/cookie_warning" %>
